extends layout

block content
  h1= title
  div(id='div_principal')
    p(id='titulo_botao')
    select(id='select_display')
    button(id='button_start')


  script(type='text/javascript', src=file)
